PORT=3001
BANCO_NAME=NombreBanco
BANCO_ID=idbanco

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=nombrebd

MI_NODO=http://localhost:3001

# Otros nodos para sincronización
NODO_COMONDU=http://localhost:3001
NODO_LAPAZ=http://localhost:3002
NODO_LORETO=http://localhost:3003
NODO_MULEGE=http://localhost:3004

# Sincronizacion
SYNC_DRIVER=kafka
KAFKA_BROKERS=localhost:9092

# Tareas inmediatas/notificaciones
RABBITMQ_ENABLED=true
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_NOTIFICATIONS_QUEUE=notifications
